.btn {
  font-size: 1rem;
  margin: 10px 5px 10px 0;

  &.btn-link {
    margin: 0;
  }

  &.btn-primary {
    background: map-get($buttons, 'primary');
    border-color: map-get($buttons, 'primary');
    color: map-get($buttons, 'primary-color');
  }

  &.btn-secondary {
    background: map-get($buttons, 'secondary');
    border-color: map-get($buttons, 'secondary');
    color: map-get($buttons, 'secondary-color');
  }

}
