form {
  label {
    display: block;
    font-weight: 500;
    position: relative;

    span {
      bottom: 0;
      color: map-get($gray, 'light');
      font-size: 0.7rem;
      position: absolute;
      right: 10px;
    }
  }

  .form-control {
    &:focus {
      border-color: map-get($colors, 'primary');
      box-shadow: none;
    }

    &.ng-invalid {
      &.ng-touched {
        border-color: map-get($colors, 'danger');
      }
    }
  }

  .custom-control {
    &.custom-checkbox,
    &.custom-radio {
      align-items: center;
      display: inline-flex;
      margin-right: 1rem;

    .custom-control-input {
      &:checked {
        ~ .custom-control-label {
          &::before {
            background-color: map-get($colors, 'primary');
            border-color: map-get($colors, 'primary');
          }
        }
      }
      &:focus {
        ~ .custom-control-label {
          &::before {
            box-shadow: none;
          }
        }
      }
    }

    label {
      font-weight: normal;
    }
    }
  }
}