@import '../../styles/variables';

.navbar {
  margin-bottom: 2rem;
  padding-top: 3rem;

  .navbar-brand {
    color: map-get($colors, 'color-black');
    font-size: 1.6rem;
    font-weight: 500;

    &:hover,
    &:focus {
      color: initial;
    }

    i {
      background: map-get($colors, 'primary');
      border-radius: 5px;
      color: map-get($colors, 'color-white');
      padding: .6rem 1rem;
    }
  }
}
