* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

a,
.btn-link {
  color: map-get($colors, 'primary');
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    padding: 0 1.5rem 0 0;
    position: relative;
  }

  .border-title {
    border: 1px solid map-get($gray, 'light');
    width: 100%;
    top: 50%;
  }
}