$buttons: (
  primary-color:           #FFF,
  primary:                 #6DCAB3,
  primary-active:          #47AB92,
  secondary:               #E8E8E8,
  secondary-color:         #777,
  secondary-active:        #D3D3D3,
);

$colors: (
  base:                    #6DCAB3,
  color-black:             #000,
  color-white:             #FFF,
  danger:                  #d30000,
  primary:                 #6DCAB3,
  primary-light:           #CEF6EC,
);

$gray: (
  base:                    #777,
  dark:                    #404040,
  light:                   #D3D3D3,
  lighter:                 #FAFAFA
);
