@import '../../styles/variables';

.list {
  .list-users {
    i {
      font-size: 1rem;
    }
  }

  .search-elements {
    margin-left: 1.5rem;
    max-width: 300px;
    width: 100%;

    .form-group {
      margin: 0;
    }
  }
}